Package: zyphor-grub-theme
Version: 1.0.1-r2-alpha
Section: admin
Priority: optional
Architecture: all
Maintainer: Mark Jason Espelita
Depends: grub2-common
Description: Zyphor OS GRUB theme and configuration
 Provides the Zyphor OS GRUB theme, background, branding,
 and GRUB configuration drop-in.
