Package: zysh
Version: 3.0.1-r3-stable-release
Section: utils
Architecture: all
Replaces: zyshell
Breaks: zyshell
Conflicts: zyshell
Maintainer: Mark Jason P. Espelita
Description: Zyphor OS Default Shell
