Package: zysh
Version: 10.0.0-r11-stable-release
Section: utils
Architecture: all
Replaces: zyshell
Breaks: zyshell
Conflicts: zyshell
Maintainer: Mark Jason P. Espelita
Description: Zyphor OS Default Shell
