Package: zysh
Version: 9.0.0-r10-stable-release
Section: utils
Architecture: all
Replaces: zyshell
Breaks: zyshell
Conflicts: zyshell
Maintainer: Mark Jason P. Espelita
Description: Zyphor OS Default Shell
