Package: zyphor-cli
Version: 13.0.2-r21-stable-release
Section: utils
Priority: optional
Architecture: all
Depends: bash
Maintainer: Mark Jason Espelita <markjasonespelita@gmail.com>
Description: Zyphor OS CLI abstraction layer
