Package: zyphor-desktop-environment
Version: 4.0.0-r13-alpha-test-3
Section: admin
Priority: optional
Architecture: all
Maintainer: Mark Jason Espelita <markjasonespelita@gmail.com>
Description: Zyphor OS Desktop Environment Theme
