Package: zyphor-desktop-environment
Version: 6.0.1-r16-alpha
Section: admin
Priority: optional
Architecture: all
Depends: zyphor-command-center
Maintainer: Mark Jason Espelita <markjasonespelita@gmail.com>
Description: Zyphor OS Desktop Environment Theme
