Package: zysh
Version: 2.0.1-stable-release
Section: utils
Architecture: all
Replaces: zyshell
Breaks: zyshell
Conflicts: zyshell
Maintainer: Mark Jason P. Espelita
Description: Zyphor OS Default Shell
