Package: zyphor-os-release
Version: 1.0.1-r2
Section: base
Priority: required
Architecture: all
Maintainer: Mark Jason Espelita <markjasonespelita@gmail.com>
Description: Zyphor OS release information
 Provides operating system identification and release metadata
 for Zyphor OS.
