Package: zyphor-whats-new
Version: 17.0.0-r11-stable-release
Section: utils
Priority: optional
Architecture: amd64
Depends: xdg-utils
Maintainer: Mark Jason P. Espelita
Description: Zyphor OS What's New
 A lightweight release notes viewer for Zyphor OS that shows system updates
 and changes in the browser after upgrades.
 