Package: zyphor-plymouth
Version: 1.0.4-r5-alpha
Priority: optional
Architecture: all
Maintainer: Mark Jason Espelita <markjasonespelita@gmail.com>
Depends: plymouth, plymouth-themes
Description: Zyphor OS Plymouth boot theme
 Zyphor OS Plymouth boot theme and artwork.
 Provides the default Zyphor OS boot splash theme
 and related Plymouth assets.
