Package: zyphor-whats-new
Version: 61.0.1-r61-stable-release
Section: utils
Priority: optional
Architecture: amd64
Depends: xdg-utils
Maintainer: Mark Jason Espelita <markjasonespelita@gmail.com>
Description: Zyphor OS What's New
 A lightweight release notes viewer for Zyphor OS that shows system updates
 and changes in the browser after upgrades.
 